@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500&display=swap');

body {
    font-family: 'Roboto Slab', serif;
    background: #E5E5E5;
}

nav {
    margin-top: 30px;
    justify-content: center;
}

.list {
    display: flex;
    justify-content: space-around;
    margin-left: 50px;
    margin-top: 11px;
}

.list_item {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #3E4243;
}
.list_item:hover {
    color: #F56A2B;
}

.num_btn {
    display: flex;
}

.num {
    margin-left: 100px;
    margin-top: 10px;
}

.btn1 {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    text-align: center;
    color: #FFFFFF;
    padding: 12px 10px;
    background: #F56A2B;
    border: none;
    border-radius: 5px;
    margin-left: 40px;
    cursor: pointer;
}

.btn1:hover {
    color: #F56A2B;
    background: #ffffff;
}

header {
    margin-top: 90px;
}

.kom {
    font-style: normal;
    font-weight: 500;
    font-size: 54px;
    color: #202023;
    margin-top: 25px;
}
.kom:hover{
    color: #F56A2B;
}

.text {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    color: #0D123D;
    margin-top: 32px;
}

.btn2 {
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    padding: 16px 16px;
    background: #EB6320;
    margin-top: 40px;
}

.btn2:hover {
    color: #EB6320;
    background: #FFFFFF;
}

.bizmes_man {
    width: 90%;
}

menu {
    margin-top: 100px;
    background: #F7F8FA;
    padding-top: 20px;
}

.micro {
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    color: #202023;

}

.text1 {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #0D123D;
    margin-top: 32px;

}

.mac {
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    color: #202023;
    margin-top: 99px;
}

.kon {
    width: 100%;
    margin-left: 40px;
    padding-top: 40px;
}



.chair {
    padding-top: 60px;
    padding-bottom: 15px;

}

.chair1 {
    padding-top: 83px;
    padding-bottom: 15px;

}

.chair2 {
    padding-top: 50px;
    padding-bottom: 15px;
}

.boxs {
    display: flex;
    gap: 20px;
}

.box {
    box-shadow: 2px 2px 10px gray;
    padding: 20px 15px;
    margin-top: 40px;
}

.box1 {
    box-shadow: 2px 2px 10px gray;
    margin-top: 40px;
    color: white;
    background: #e8713a;
}

.offic {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    color: #202023;

}

section {
    margin-top: 60px;
    background: #F7F8FA;

}

.qutilar {
    display: flex;
    gap: 20px;
}

.quti {
    box-shadow: 2px 2px 10px gray;
    padding: 20px 10px;
}




.one {
    margin-top: 80px;
    padding-top: 20px;
    background: #FFFFFF;
    border: 1px solid #E5E5EB;
}

.for {
    display: flex;
    margin-top: 40px;
}

.rig {
    width: 20px;
    height: 20px;
    margin-top: 8px;
}

.sox {
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    color: #202023;
}

.nom {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    color: #EB6320;
}

.uu {
    margin-left: 24px;
}

.two {
    margin-top: 100px;
}

.vas {
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    color: #202023;
    padding-bottom: 90px;
}

.btn3 {
    margin-top: 15px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    padding: 15px 10px;
    background: #EB6320;
    border-radius: 5px;
}

.btn3:hover {
    color: #EB6320;
    background: #FFFFFF;
}

.three {
    margin-top: 100px;
    background: #F7F8FA;
    padding-bottom: 20px;
}

.prosent {
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    color: #EB6320;
    padding-top: 90px;
    padding-bottom: 30px;
}

.macromir {
    padding-top: 20px;
    width: 400px;
}

.btn4 {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    padding: 12px 20px;
    background: #EB6320;
    border-radius: 5px;
    margin-left: 400px;
}

.btn4:hover {
    color: #EB6320;
    background: #FFFFFF;
}

.four {
    margin-top: 80px;
}

.nam {
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    color: #202023;
    margin-bottom: 50px;
}

.img1 {
    box-shadow: 2px 2px 10px gray;
    gap: 20px;
}

.little {
    display: flex;
    box-shadow: 2px 2px 18px gray;
    padding: 10px;
    gap: 10px;
}

.big {
    display: flex;
    gap: 25px;
    margin-top: 40px;
}

.five {
    margin-top: 80px;
    background: #F7F8FA;
    padding-top: 15px;
    padding-bottom: 20px;
}

footer{
    margin-top: 90px;
}
.cons{
    width: 75%;
    margin-top: 10px;
}
.btn5{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    padding: 12px 20px;
    background: #EB6320;
    border-radius: 5px;
    margin-top: 150px;
    margin-bottom: 15px;
}
.btn5:hover {
    color: #EB6320;
    background: #FFFFFF;
}

.btn6{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    padding: 12px 20px;
    background: #EB6320;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.btn6:hover {
    color: #EB6320;
    background: #FFFFFF;
}












@media (max-width:575px) {
    .list{
        text-align: center;
    }
    .kom{
        text-align: center;
/* margin-left: 100px; */
    }
    .boxs{
        display: grid;
    }
    .qutilar{
        display: grid;
    }
    .btn2{
        text-align: center;
    }
    .big{
        display: flex;
    }
    .btn5{
        text-align: center;
    }
    .btn6{
        text-align: center;
    }
}